name: Archive and Release

on:
  push:
    tags:
      - "v*" # Triggers workflow when a tag beginning with 'v' is pushed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP archive (excluding .gitkeep)
        run: |
          # Delete .gitkeep files
          find . -name ".gitkeep" -type f -delete
          # Create a zip archive of the repo, without the .git folder
          zip -r protonbus-vehicle-template.zip . -x "*.git*"

      - name: Generate Changelog
        id: changelog
        run: |
          CHANGELOG=$(git log --pretty=format:"- %s (%h)" $(git describe --tags --abbrev=0)..${{ github.ref }})
          echo "changelog=$CHANGELOG" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }} # Tag name
          release_name: Release ${{ github.ref }} # Release title
          body: | # Release description
            ## Changelog ${{ github.ref }} :
            ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release.zip
          asset_name: release.zip
          asset_content_type: application/zip
